html, body {
  margin: 0;
  padding: 0;
  background: url(bg.png) fixed;
}

body {
  min-width: 500px;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin-bottom: 50px;
  margin-top: 150px;
  padding: 0;
}
#grid {
  margin: 0 2em;
  padding: .5em 0;
}

#grid ul {
  padding: 0 .5em;
  margin: 0;
  list-style: none;
}

#grid .bottom {
  clear: both;
}

#grid li {
  cursor: pointer;
  float: left;  
  width: 300px;
  padding: 3px;
  height: 300px;
  background: rgba(255,255,255,.05);
  border-radius: 3px;
  margin: .2em;
  -webkit-transition: background-color 0s;
  
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #AAA;
  font-size: 0.7em;
}

#grid a {
}

#grid li:hover {
  background: rgba(255,255,255,.8);
  -webkit-transition: background-color .35s;
  color: #000;
}

#grid div.wrapper {
  height: 275px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: .5em;
}

#grid img {
  border: none;
  height: 275px;
}

header {
  height: 150px;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #AAA;
}

header img {
  margin: 2em auto;
  border: none;
}

footer {
  border-top: 1px solid #AAA;
  height: 50px;
  bottom: 0;
}

header, footer {
  text-transform: lowercase;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: url(bg.png);
}

header nav {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

header ul {
  list-style: none;
  position:relative;
  padding: 0;
  top: -16px;
  left:50%;
}

header li {
  position: relative;
  float: left;
  padding: 0 .75em;
}

header a {
  font-weight: bold;
  color: #AAA;
  text-decoration: none;
  letter-spacing: .1em;
}

header a:hover {
  color: #FFF;
}

header .breadcrumb {
  position: absolute;
  left: 0;
}

footer {
  padding-top: .25em;
  text-align: center;
  font-size: 0.8em;
  color: #AAA;
}

footer a {
  position: absolute;
  right: 0;
  color: #AAA;
  font-weight: bold;
  text-decoration: none;
  float: right;
}

footer a:hover {
  color: #FFF;
}

.overlay {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 999;
}

.panoContainer {
  cursor: default;
  position: relative;
  top: 50%;
  margin-top: -250px;
  height: 500px;
  z-index: 1000;
  padding: 25px 0;
  background: url(bg-sp.png) repeat-x top;
}
