<!DOCTYPE html>
<html>
<head>
  
  <meta charset=utf-8 />
  <title>Stadtpanoramen - Berlin</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='simple-panorama.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="screen" href="master.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="simple-panorama.js"></script>
  <script type="text/javascript" src="master.js"></script>
</head>
<body>
  <header>
    <nav>
     <a href="#"><img src="logo.png" alt="Stadtpanoramen" /></a> 
    <div id="menu">      
      
    <div id="city-top">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="berlin.html">Berlin 1</a> &nbsp; <a href="berlin_2.html">2</a> &nbsp; <a href="berlin_3.html">3</a> &nbsp; <a href="berlin_4.html">4</a> &nbsp; <a href="#">5</a> &nbsp; <a href="#">6</a> &nbsp; <a href="#">7</a> &nbsp; <a href="#">8</a>
    </div>
    <ul>
      <li class="topmenu">
        <a href="">Panoramen Berlin A-Z</a>
        <ul>
          <li class="submenu"><a href="alexanderplatz.html">Alexanderplatz </a></li>
          <li class="submenu"><a href="">Altes Museum </a></li>
          <li class="submenu"><a href="">Berliner Mauer </a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
        </ul></li> 
      </ul>
  </div>    
      <ul class="navtop">
        <li><a href="#">Suchfeld </a></li>
        <li><a href="#">Berlin-Tipps </a></li>
        <li><a href="#">Photo-Service </a></li>
        <li class="topmenu"><a href="#">Städte </a>
        <ul>
          <li class="submenu"><a href="bielefeld.html">Bielefeld </a></li>
          <li class="submenu"><a href="">Bochum </a></li>
          <li class="submenu"><a href="">Bonn </a></li>
          <li class="submenu"><a href="">Rothennburg ob der Tauber</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
          <li class="submenu"><a href="">usw.</a></li>
        </ul></li> 
      </ul>
    </nav>
  </header>

  <div id="grid">
    <ul>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/konzerthaus_gendarmenmarkt_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/konzerthaus_gendarmenmarkt_3.jpg" />
          </div>&nbsp;
          Konzerthaus Gendarmenmarkt
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="false" 
          data-imagePath="../../../public/panoramas/berlin/spree-schifffahrt_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/spree-schifffahrt_3.jpg" />
          </div>&nbsp;
          Spree-Schifffahrt
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/pariser_platz_berlin_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/pariser_platz_berlin_3.jpg" />
          </div>
          Pariser Platz Berlin
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/gustav-heinemann-bruecke_5.jpg"
        >
          <div class="wrapper">Anzeige<br>
            <script type="text/javascript"><!--
google_ad_client = "pub-2069005959740847";
/* D-B-SÜ1-o */
google_ad_slot = "7897341799";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
          </div>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/bahnhof_hackescher_markt_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/bahnhof_hackescher_markt_3.jpg" />
          </div>
          Bahnhof Hackescher Markt
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/hackesche_hoefe_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/hackesche_hoefe_3.jpg" />
          </div>
          Hackesche Höfe
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/bode-museum_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/bode-museum_3.jpg" />
          </div>
          Bode-Museum
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="false" 
          data-imagePath="../../../public/panoramas/berlin/berlin_hauptbahnhof_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/berlin_hauptbahnhof_3.jpg" />
          </div>
          Berlin Hauptbahnhof
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/holocaust_mahnmal_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/holocaust_mahnmal_3.jpg" />
          </div>
          Holocaust Mahnmal
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>      
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/bode-museum_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/bode-museum_3.jpg" />
          </div>
          Bode-Museum
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="false" 
          data-imagePath="../../../public/panoramas/berlin/berlin_hauptbahnhof_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/berlin_hauptbahnhof_3.jpg" />
          </div>
          Berlin Hauptbahnhof
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>
      
        <li 
          data-repeative="true" 
          data-imagePath="../../../public/panoramas/berlin/holocaust_mahnmal_5.jpg"
        >
          <div class="wrapper">
            <img src="../../../public/panoramas/berlin/holocaust_mahnmal_3.jpg" />
          </div>
          Holocaust Mahnmal
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
            <span class="hotspot-data" data-path="" data-title="" data-link="" data-category=""></span>
          
        </li>      
    </ul>
  </div>
    <!--  
    <div id="tipps"><br>
      <iframe src="berlin-links.html" width="196" height="1211" name="images" marginwidth="0"  marginheight="0" frameborder="0"></iframe>
    </div>
    -->
    <div style="clear: left;">
    </div> 
    <div class="more"><a href="berlin_2.html">weitere Panoramen von Berlin</a><br><br><br><br> 
    </div>
    <div class="gmap">
     <br>
     <br>
     <br>
     <img src="../navpic/gps.gif" alt="" width="12" height="9" border="0"> Panorama-Aufnahmestandorte Berlin
     <br>
     <iframe width="560" height="660" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="goomap" src="http://maps.google.de/maps/ms?msid=204881142368333592551.0004da3c6ceb8b2819bbe&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=52.51737,13.385639&amp;spn=0.029249,0.047979&amp;z=14&amp;output=embed"></iframe><br /><img src="../navpic/pan.gif" alt="" height="16" width="41"><a href="http://maps.google.de/maps/ms?msid=204881142368333592551.0004da3c6ceb8b2819bbe&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=52.51737,13.385639&amp;spn=0.029249,0.047979&amp;z=14&amp;source=embed" style="color:#FFFFFF;text-align:left" target="_blank">Berlin Panorama-Karte </a> &nbsp;( Panoramen auf einer gr&ouml;&szlig;eren Karte anzeigen )<br><br> 
    </div>
  <footer>
    <span class="copy"> All rights reserved &nbsp; &copy Helmut Kölbach</span>
    <a href="#">Impressum</a>
  </footer>
  <div class="overlay">
    <div class="panoWrapper">
      <div class="panoContainer"></div>
      <div class="panoPopup infos">
      	<span class="icon star"></span><span class="link icon lock"></span><br />
      	<span class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </span>
      </div>
      <div class="panoPopup controls">
      	<span class="icon gear"></span><span class="link icon lock"></span><br />
      	<span title="Benachbarte Panoramen" class="link icon camera"></span>
      	<span title="Info Links" class="link icon text"></span>
      	<span title="Straßen- und Gebäudenamen" class="link icon placemark"></span>
      </div>
    </div>
  </div>
</body>
</html>
