html, body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg) fixed 50% 0; }

html {
  min-height: 600px; }

* {
  font-family: "Roboto Condensed", sans-serif; }

body {
  min-width: 500px;
  margin-bottom: 50px;
  margin-top: 80px;
  padding: 0; }
  background: rgba(25, 25, 25, 1);
  
#grid {
  margin: 0 5%;
  padding: 0.5em 0; }
  #grid .bottom {
    clear: both; }
  #grid ul {
    padding: 0 0.5em;
    margin: 0;
    list-style: none; }
    #grid ul li {
      cursor: pointer;
      float: left;
      width: 270px;
      height: 144px;
      border: 1px solid #000;
      background: rgba(25, 25, 25, 1);
      margin: 1em;
      -webkit-transition: background-color 0s;
      box-shadow: 10px 10px 6px #000;  
      letter-spacing: 0.09em;
      color: #666;
      font-size: 0.8em;}
      #grid ul li:hover {
      border: 1px solid #fff;
      box-shadow: 0 0 1px 2px #fff;  
      box-shadow: 16px 16px 14px #000;  
        -webkit-transition: background-color 2.35s;
        color: #fff; }
  #grid div.wrapper {
    height: 125px;
    overflow: hidden;
    position: relative;
  margin: 0 auto;
  text-align:center;
    margin-bottom: 0; }
    #grid div.wrapper img {
      border: none;
      height: 100%; }
      


header, footer {
  width: 100%;
  position: fixed;
  z-index: 2; }

header {
  padding-top: 5px;
  background: url(bg.jpg) 50% 0;
  height: 60px;
  top: 0;
  border-bottom: 1px solid #aaaaaa; }
  header img {
    margin: 0 0;
    border: none; }
  header nav {
    position: relative;
    text-align: left; }
    header nav ul {
      list-style: none;
      position: relative;
      padding: 0;
      top: -16px;
      }
      header nav ul li {
        position: relative;
        float: right;
        padding: 0 0.75em; }
  header a {
    font-weight: bold;
    color: #aaaaaa;
    text-decoration: none;
    letter-spacing: 0.1em; }
    header a:hover {
      color: white; }
  header .breadcrumb {
    margin-left: 14%;
}

footer {
  background-color: rgba(0, 0, 0, 0.95);;
  padding-top: 0.25em;
  text-align: center;
  font-size: 0.8em;
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
  height: 30px;
  bottom: 0; }
  footer a {
    position: absolute;
    right: 20px;
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: none;
    float: right; }
    footer a:hover {
      color: white; }
      
      
      
            
      
#city-top  {
  margin-top: -16px;
  margin-left: 55%;
  width: 250px;
}         
      
#menu {
  margin: 1px 6px;
  font-size:16px;
  position:absolute;  
}
  
#menu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  min-width:200px;
  text-align:center;
}

.topmenu ul{
  max-width:850px;
  max-height:550px;
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  border:1px solid #000;
  color:#aaa;
  font-weight:bold;
  text-decoration:none;  
  background: rgba(22, 22, 22, 0.9);;
  margin:0;  
}

.submenu a{
  width:250px;
  font-size:14px;
  position:relative;
  clear:both; /* IE6 */
}

#menu a:hover, .topmenu.on a {
  color:#fff;
  border-color:#fff;
}

.topmenu:hover ul {
  display:block;  
  z-index:110;
}


ul.navtop{
  margin-top:-20px;
}

div.more a{
  color: #ccc;
  font-size: 0.9em;
  text-decoration: none;
  position: absolute;
  right: 150px;
}

.gmap{
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  font-size: 0.9em;
}
.gmap a{
  color: #ccc;
  font-size: 0.9em;
  text-decoration: none;
}

#tipps {
 margin-left: 20px;
 height: 1211px;
 width: 196px;
 text-align: center;
 float: left;
}

#adv {
 margin-left: 20px;
 width: 196px;
 text-align: center;
 float: left;
}


a.greylinks:link { color:#AAAAAA; }
a.greylinks:visited { color:#AAAAAA; }
a.greylinks:active { color:#AAAAAA; }
a.greylinks:hover { text-decoration:underline; }





.overlay {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  
  .overlay .panoWrapper {
    position: relative;
    top: 50%;
    margin-top: -250px;
    height: 500px;
    z-index: 1000;
    background: black;
    box-shadow: 0 0 20px 10px black; }
    .overlay .panoWrapper .panoContainer {
      cursor: default;
      background: red;
      width: 100%;
      height: 100%;
      background: url(loader.gif) no-repeat center center; }
    .overlay .panoWrapper .panoPopup {
      cursor: default;
      width: 26px;
      height: 26px;
      overflow: hidden;
      background: white;
      position: absolute;
      bottom: 50px;
      box-shadow: 1px 1px 3px #111111;
      -webkit-transition: width 0.1s, height 0.1s; }
      .overlay .panoWrapper .panoPopup:hover, .overlay .panoWrapper .panoPopup.locked {
        -webkit-transition: width 0.5s, height 0.5s; }
      .overlay .panoWrapper .panoPopup .lock {
        float: right; }
      .overlay .panoWrapper .panoPopup.controls {
        right: 50px; }
        .overlay .panoWrapper .panoPopup.controls:hover, .overlay .panoWrapper .panoPopup.controls.locked {
          width: 85px;
          height: 55px; }
      .overlay .panoWrapper .panoPopup.infos {
        right: 150px; }
        .overlay .panoWrapper .panoPopup.infos .content {
          padding: 10px;
          display: block;
          overflow: hidden;
          height: 340px;
          width: 180px; }
        .overlay .panoWrapper .panoPopup.infos:hover, .overlay .panoWrapper .panoPopup.infos.locked {
          width: 200px;
          height: 400px; }

.sp-container {
  margin: auto; }

.icon {
  background: url(icons.png);
  display: inline-block;
  height: 26px;
  width: 26px;
  opacity: 0.5; }
  .icon.gear {
    background-position-x: -343px;
    background-position-y: -109px; }
  .icon.placemark {
    background-position-x: -317px;
    background-position-y: -187px; }
  .icon.chain {
    background-position-x: -499px;
    background-position-y: -83px; }
  .icon.text {
    background-position-x: -83px;
    background-position-y: -5px; }
  .icon.camera {
    background-position-x: -213px;
    background-position-y: -187px; }
  .icon.star {
    background-position-x: -161px;
    background-position-y: -499px; }
  .icon.lock {
    background-position-x: -57px;
    background-position-y: -317px; }
  .icon.active {
    opacity: 0.8; }
  .icon.link {
    cursor: pointer; }
    .icon.link:hover {
      opacity: 0.75; }
