* {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

p {
  margin: 8px 0;
}

body {
  font-size: 12px;
}

header {
  position: fixed;
  background-color: #f7b64a;
  width: 100%;
  padding: 10px;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e78f08;
}

div.field {
  padding: 5px 0;
}

.clear {
  clear: both;
}

header .spacer {
  width: 16px;
  height: 5px;
  float: left;
}

#content {
  padding: 16px 32px;
}

body {
  padding-top: 50px;
}

#main-map {
  height: 500px;
  margin-bottom: 16px;
}

#sections {
  margin-right: 32%;
}

#sticky {
  top: 106px;
  position: fixed;
  z-index: 100;
  width: 30%;
  right: 10px;
}

#sticky div {
  padding: 16px;
}

ul.tasks li {
  margin-right: 10px;
  padding: 5px 0;
}

ul {
  list-style: none;
}

h3 {
  font-size: 16px;
  color: #444;
  padding: 10px 0;
}

#tab-images li {
  padding: 1px 0;
}

th {
  padding: 0 4px;
}

h1, h2, h3 {
  clear: left;
  color: #666;
  padding-bottom: 10px;
}

header a {
  float: left;
}

table {
  border-spacing: 0;
  font-size: 15px;
}

a {
  color: #1c94cd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 a:hover, ul.ui-tabs-nav li a:hover {
  text-decoration: none;
}

table .button  {
  font-size: 13px;
}

table td {
  padding: 4px 16px;
  margin: 0;
  border: none;
}

table tr td:first {
  vertical-align: top;
}

table table td {
  padding: 2px 8px;
}

table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table tr:hover, #content table tr.item-edited:hover {
  background-color: #b2d7ff;
}

table tr.item-edited {
  background-color: #FFDEAB;
}

table table tr:hover {
  background-color: #FFF;
}

table tr.table-header {
  background-color: transparent;
}

table tr.table-header th {
  padding: 16px;
  font-size: 16px;
}

#sections .accordion{
  margin-top: 16px;
}

.ui-state-error {
  position: absolute;
  right: 160px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin: auto;
  font-size: 13px;
  font-weight: bold;
  border: 2px dotted #FFF;
}

.ui-state-error li {
  padding-left: 10px;
}

.ui-button-text .ui-button-text {
  padding: 0;
}

.ui-button-icon-only .ui-button-text {
  padding: 1px;
}

form label {
  display: block;
  width: 300px;
  float: left;
}

.highlight {
  font-weight: bold;
  color: #333;
}
  
.ui-accordion .ui-accordion-content{ overflow:visible !important; }
