div#sticky {
  max-width: 200px;
  margin-top: -100px;
}

#sections {
   margin-right: 225px;
}

.sp-hotspot {
  border: 1px solid #FF0;
}
  
.sp-hotspot:hover {
  background-color: rgba(255,255,0,.1);
}
  
.sp-hotspot:hover .sp-hotspot-content {
  opacity: 0;
}

.sp-hotspot-content a {
  display: block;
  height: 100%;
}

.hotspot-title {
	position: relative;
	top: 125px;
	left: 50%;
	background-color: #FF0;
	padding: 1em;
	color: #000;
	font-weight: bold;
	z-index: 99;	
}
