<!DOCTYPE html>
<html lang="de">
<head>
</head>
<body>
  <header>
  </header>
    <% @cities.sort_by! { |c| c.name.downcase } %>
    <% @cities.each do |city| %>
      <%= city.linktips %>
      <%end %>
</body>
</html>
