html, body {
  margin:0;
  padding:0;
  background:url(../navpic/pflaster.jpg) fixed; 
  background-color:#000;
  background-position:0px 0px;
  background-repeat:no-repeat;
}

html {
  min-height:600px; }

* {
  font-family:"Roboto Condensed", sans-serif;
  letter-spacing:1px;
   }

body {
  min-width:500px;
  margin-bottom:50px;
  margin-top:80px;
  padding:0;
   }  
   
header, footer {
  width:100%;
  position:fixed;
  }

header {
  min-width:800px;
  padding:10px;
  background:url(../navpic/pflaster.jpg) fixed; 
  background-color:#000;
  background-repeat:no-repeat;
  background-position:0px 0px;
  height:55px;
  top:0;
  font-size:1.3em;
  border-bottom:1px solid #666;  
  z-index :90;
   }
  header a {
    color:#aaa;
    text-decoration:none;
     }
  header a img {
    margin:0 0;
    border:none;
    float:left; 
    }
    header a:hover {
      color:#eee;
       }    
       
  header nav {   
    margin-top:14px;   
    margin-left:50px; 
    float:left;
    overflow:visible;
    position:relative;
    text-align:left;    
    }
   header nav a.city-top { 
      float:left;
       }     
    header nav ul {   
      display:none;
      margin:-4px 0 0 -190px;
      padding:5px 5px 25px 5px;  
      width:335px;
      list-style:none;
      color:#ccc;
      float:left;
      }
    header nav ul:hover { 
      color:#eee;
      background:rgb(22, 22, 22);
      background:rgba(22, 22, 22, 0.95);
      }
    header nav ul li {
      padding:2px;
      font-size:14px;
      float:left;
      background:rgb(22, 22, 22);
      background:rgba(22, 22, 22, 0.95);
      }      
    header nav:hover ul{
      display:block;
      color:#eee;
      background:rgb(22, 22, 22);
      background:rgba(22, 22, 22, 0.95);
      }
    header nav ul li a {
      padding:1px 5px;
      border:1px solid rgb(22, 22, 22);
      text-decoration:none; 
      }
    header nav ul li a:hover {
      border:1px solid #000;
      border-color:#eee;
      }
     
         
#menu {
  float:left;
  overflow:visible;
  margin-left:30px;
  margin-top:10px;
  font-size:16px; 
}  
  #menu ul {     
    display:none;
    width:335px;
    margin:34px 0 0 -8px;
    position:relative;
    padding:4px 0 50px 0;
    list-style:none;
    position:absolute;
    z-index:50;
    }
    #menu:hover ul {
      color:#eee;
      display:block;
      background:rgba(22, 22, 22, 0.95);
      }
     #menu ul li {
        margin-left:10px;
        }
      #menu ul li a {
          margin:0;  
          padding:1px 8px;
          border:1px solid #111;
          color:#aaa;
          font-size:.9em;
          text-decoration:none; 
          float:left;
          background-color:#111;
           } 
        #menu ul li a:hover {   
            border-color:#eee;
            color:#eee;
          }

     .msland {
        padding-right:180px;
        letter-spacing:0.4em;
        }
         
h1 {
    padding:0 10px;
    margin-left:40%;
    margin-top:-5px;
    max-width:350px; 
    color:#ddd;
    font-size:1.2em;
    float:left;
    position:absolute;
  } 
 
.navtop {
  width:150px;
  margin-top:14px;
  margin-right:2%;
  float:right;
}
.navtop a {
    color:#ddd;
    } 
    .navtop a:hover {
      color:#fff;
      } 
    
      
#content { 
  max-width:1550px;
  margin: 0 auto;
  }         

  #grid ul {    
    margin-top:15px;
    padding:0 0.3em;    
    list-style:none;  
     }
    #grid ul li {
      cursor:pointer;
      float:right;
      width:350px;
      height:161px;
      border:1px solid #000;
      background:rgba(25, 25, 25, 1);
      margin:1em;
      margin-top:17px;
      box-shadow:10px 10px 6px #000; 
      color:#666; 
      text-align:center;
      overflow:hidden;
      font-size:0.8em;
      }            
      #grid ul li:hover {
        border:1px solid #eee;      
        background:rgba(10, 10, 10, 1);
        box-shadow:16px 16px 14px #000;  
        color:#ddd;
        overflow:visible;
        -moz-transition-duration: 0.7s;
        -moz-transition-timing-function: ease-out-in;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease-out-in;
        -o-transition-duration: 0.7s;
        -o-transition-timing-function: ease-out-in;
        -ms-transition-duration: 0.7s;
        -ms-transition-timing-function: ease-out-in;
        transition-duration: 0.7s;
        transition-timing-function: ease-out-in;
         }
    #grid div.wrapper {
      height:144px;
      position:relative;
      margin-bottom:0;
       }
    #grid div.wrapper img {
      border:none;
      height:100%;
       }  
   #grid div.widescreen {  
      margin-top:14px;
       }
     #grid div.widescreen a{  
        padding:0 0 0 10px;   
        letter-spacing:0.6em;
        font-size:.85em;
        text-decoration:none;
        border:1px solid #111; 
        color:#666;
        background:rgba(15, 15, 15, 0.5);
        box-shadow:10px 10px 6px #000; 
         }
     #grid div.widescreen a:hover{ 
        border-color:#eee;
        color:#eee;     
        background:rgba(10, 10, 10, 1);
        box-shadow:0 0 1px 2px #ddd;  
        box-shadow:16px 16px 14px #000;
        -moz-transition-duration: 0.7s;
        -moz-transition-timing-function: ease-out-in;
        -webkit-transition-duration: 0.7s;
        -webkit-transition-timing-function: ease-out-in;
        -o-transition-duration: 0.7s;
        -o-transition-timing-function: ease-out-in;
        -ms-transition-duration: 0.7s;
        -ms-transition-timing-function: ease-out-in;
        transition-duration: 0.7s;
        transition-timing-function: ease-out-in; 
         }     
    
#box {
  clear:both;
  background:rgba(22, 22, 22, 0.7);
  height:360px; 
  width:350px;  
  margin:1.5em 2.0em 0em 1em;
  text-align:center;
  font-size:0.7em;
  float:right;
  box-shadow:10px 10px 6px #000;
}
  .adv-more {
      margin:5% auto;
      width:270px;
      height:50px;
      text-align:center;
      color:#aaa;
      }
      .adv-more a {
        padding:0px 10px;
        color:#aaa;
        font-size:1.4em;
        text-decoration:none;
        border:1px solid #666;
        }
      .adv-more a:hover {
      color:#eee;
      border:1px solid #eee;
      }
   .g_adv {
      margin:5% auto;
      width:130px;
      height:130px;
      text-align:center;
      }    
   .g_adv_only {
      margin:15% auto;
      width:130px;
      height:130px;
      text-align:center;
      }      
   .g_adv2 {
      margin:6% auto;
      width:210px;
      height:210px;
      text-align:center;
      }    
      
 
  div.more {
    margin-top:20px;
    text-align:right;  
    float:right;
  }
  div.more a {
    padding-right:20px;
    color:#bbb;
    font-size:1em;
    text-decoration:none;
  }
    div.more a:hover {
    color:#fff;
    }
    
.gmap {  
  margin-top:62px;
  margin-left:5%;
  padding-bottom:60px;
  width:560px;
  text-align:left;
  color:#ccc;
  font-size:.9em;
  float:left;
}
  .gmap a {
    padding-bottom:80px;
    color:#bbb;
    text-decoration:none;
  }
    .gmap a:hover {
      color:#eee;
    }
    
#cont-right { 
  width:500px;
  float:left;
}

#tip { 
  margin-left:4%; 
  margin-top:15px;
  float:left; 
  text-align:left;
  font-size:0.95em;
}

  #tip ul {
    margin:0;
    padding:20px;
    list-style:none;
  }
    #tip ul li{
      color:#eee;
      height:25px;
    }    
      #tip ul li a{  
        color:#aaa;
        text-decoration:none;
        border:0;
      }      
        #tip ul li a:hover{
          color:#eee;
        background-color:#111;
        }
        
  #notip {
    margin-top:35px;
    margin-left:10%;
    width:130px;
    float:left;
        }      

.clearfix{clear:both;}

  
.adv1-down {
  width:230px;
  height:590px;
  margin-left:2%;
  margin-top:10%;
  text-align:center;
  float:left; 
  }
  
    
.adv2-down {
  width:470px;
  height:70px;
  padding-left:40px;
  padding-top:40px;
  padding-bottom:60px;
  float:left;
  }

  
.de-map  {
  margin-top:35px;
  margin-left:4%; 
  width:230px;
  height:460px;
  text-align:center;
  color:#ccc;  
  float:left;
  }
  .de-map a {
  color:#aaa;
  text-align:center;
  text-decoration:none;
  }
  .de-map a:hover{
  color:#eee;
  }

footer {
  background-color:#000;
  padding-top:0.25em;
  text-align:center;
  font-size:11px;
  color:#aaa;
  border-top:1px solid #222;
  height:30px;
  bottom:0;
  z-index:800;
   }
  footer a {
    padding-right:3%;
    color:#aaa;
    text-decoration:none;
    float:right;
     }
    footer a:hover {
      color:#eee; }    
  

  .mail a {
    margin-left:4%;
    padding-right:0;
    float:left;
  }
@-ms-viewport { 
  width: device-width; 
  }
@-o-viewport { 
  width: device-width; 
  }