<%# coding: utf-8 
%>
<div class="round full-width">
  <nav>
    <ul>
      <li><%= link_to "Übersicht", '/pages/home', :class => "button" %></li>
      <li><%= link_to "Inhalt-Generator", '/generator/choose', :class => "button" %></li>
    </ul>
  </nav>
</div>